<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='stylesheet' href='http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css'>
    <style type="text/css">
		.wrapper {
		  margin-bottom: 80px;
		}
		
		.form-signin {
		  max-width: 1024px;
		  padding: 15px 35px 45px;
		  margin: 80px auto;
		  background-color: #fff;
		}    
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="form-signin">
            <p><h1>验证失败 <a href="/">返回首页</a></h1></p>
        </div>
    </div>
</body>
</html>